
/* SIGN PART */
.signPhase {
    /* text-align: center; */
    /* align-items: center */
    border: 1px solid lightgrey;
    width: 30rem;
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 1rem;
    z-index: 1;
    background: #f1f3f4;
    box-shadow: 0 1px 5px 1px lightgrey;
}
.signPhase .Google{
    /* float: right */
    position: relative;
    /* left: 13rem; */
}
.signPhase input, select{
    position: relative;
    bottom: 1rem;
    border: none;
    background: rgb(173, 173, 173);
    width: 25rem;
    border-radius: 1px;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px 5px 8px 5px;
    margin-bottom: 1rem;
    /* margin-top: 0; */
    transition: 700ms ease-in-out;
}
.signPhase input:focus{
    background: lightgrey;
}
/* .signPhase div p{
    text-transform: capitalize;
} */
.signPhase .m input{
    /* margin-left: 2rem; */
}
.signPhase .textArea textarea{
     position: relative;
    bottom: 1rem;
    border: none;
    background: rgb(173, 173, 173);
    width: 25rem;
    border-radius: 1px;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px 5px 8px 5px;
    margin-bottom: 1rem;
    /* margin-top: 0; */
    transition: 700ms ease-in-out;
    overflow: hidden;
    height: 5rem;
}
.signPhase .textArea textarea:focus, select:focus{
    background: lightgrey;
}
.brandIcon{
    text-align: center;
    font-weight: bold;
}
.socials{
    /* margin-top: 0.5rem; */
    position: relative;
    left: 8rem;
    bottom: 1.5rem;
}
.socials div a{
    text-decoration: none;
    transition: 700ms ease-in;
    font-weight: bold;
    margin-left: 3rem;
}
/* .socials div a p i:hover{
    transform: scale(1.06);
} */
.brand{
    margin-bottom: 2rem;
}
#here, .here{
     background-color: rgb(0,0,0); */
    /* background-color: rgb(0,0,0,0.4) */
    background: #333;
}
.icon img{
    width: 5rem;
    position: relative;
    left: 4rem;
    top: 3rem;
}
.icon p{
    color: #f1f3f4;
    font-weight: bold;
    font-family: cursive;
    position: relative;
    top:5rem;
    left: 3rem;
    font-size: 12px;
}
select option {   
    font-size: 10px;
    background-color: #f1f3f4
}